//Common colours
$dark: #2e2e2e;
$light: #e9ecf2;
$charcoal: #000000bb;
$clickable-purple: #9e88f2;
$font-dark: white;
$font-light: white;
$highlight: #f79679;

//Common style Properties
$common-shadow: 0px 0px 12px 4px #00000061;
$common-shadow-light: 0px 0px 5px 1px #fdfdfd61;
$common-radius: 4px;
$footer-size: 70px;

.tableNoDataWarning {
    margin-bottom: 15px;
}
